.agent.db
.build.info
.curseclient
.patch.result
BlizzardError.exe
Cache
Clear-WoW-Cache.cmd
Data
DivxDecoder.dll
Errors
Launcher.db
Logs
Ovale-Warrior.txt
Scan-64.dll
Scan.dll
Scan.dll.new
Screenshots
SystemSurvey.exe
Towelliee.exe
Utils
Warrior-5.0.4.ovale
WoW.mfil
World of Warcraft Launcher.exe
World of Warcraft.rar
Wow-64.exe
Wow.exe
_backup Interface
_backup WTF
dbghelp.dll
wow-4.1.0.2346-enUS-tools-downloader.exe
wow-4.1.0.2346-enUS-tools-patch.exe
